<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>hola <%= activist.name %>  </h1>
    <p>
      Este es un mail de ejemplo, por favor no lo respondas, solo nos queremos asegurar que ha llegado a destino. Si has recibido este mail por favor da aviso. Gracias.
    </p>
  </body>
</html>