<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<div>

  		<table style="width:100%">
  			<tr>
  				<td width="100"><img src="" alt="" style="width:83%"></td>
  				<td><h2 style="color: black">Movimiento X Chile</h2></td>
  			</tr>
  		</table>
  		<h3>Hola <%= @activist.name %></h3>
	    <p>
	      Gracias por votar. Si has recibido este mail guárdalo como confirmación de que tu voto ha sido ingresado al sistema con éxito.
	    </p>
  	</div>
    
  </body>
</html>
